@model DoctorDTO 


<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> form Patient </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">form Doctor</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description"> Basic form  Doctor </p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          asp-controller="Doctor" asp-action="Save" role="form">
                        <input asp-for="Id" type="hidden" />

                        <div class="form-group">
                            <label for="exampleInputUsername1">  Patient Name</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder="Patient Name">
                            <span asp-validation-for="Name"></span>
                        </div>
                       
                        <div class="form-group">
                            <label for="exampleInputUsername1">Phone</label>
                            <input asp-for="Phone " type="number " class="form-control" placeholder="Phone">
                            <span asp-validation-for="Phone"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">Specialization</label>
                            <input asp-for="Specialization " type="text" class="form-control" placeholder="Specialization">
                            <span asp-validation-for="Specialization"></span>
                        </div>
                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">Save</button>
                        <button class="btn btn-light">New</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts
{

}

